<shared-navbar></shared-navbar>
<div class="grid gap-10 py-20 justify-center">
  <div class="border w-2/4 justify-self-center">
    <h2 class="text-5xl font-bold line-clamp-3 text-balance">toDoIt es la forma mas sencilla de organizar tus tareas
    </h2>
    <p>Crea, Guarda y ya esta! Bienvenido a esta sencilla pagina para organizar tus tareas</p>
  </div>
  <div class="flex flex-row border">
    <img src="" alt="">
    <div>
      <h2>This is the new me</h2>
      <p>Please stay put</p>
    </div>
  </div>
  <div class="grid justify-center border">
    <div class="flex flex-row">
      <h2>Desarrolla tu creatividad con toDoIt</h2>
      <img src="" alt="">
    </div>
    <div class="table">
      Insertar tabla con cualidades de la pagina
    </div>
  </div>
</div>
