<shared-navbar></shared-navbar>
<div class="grid gap-10 py-20 justify-center">
  <div class="w-2/4 justify-self-center mb-20">
    <h2 class="text-6xl font-bold line-clamp-3 text-balance pb-8 text-darkgray">toDoIt es la forma mas sencilla de
      organizar
      tus tareas
    </h2>
    <p class="text-3xl text-mediumgray">Crea, Guarda y ya esta! Bienvenido a esta util pagina para organizar tus tareas
    </p>
  </div>
  <img src="../assets/images/home01.jpg" alt="home image 01" class="max-w-4xl mb-24 ml-20">
  <div class="text-right mx-24">
    <h2 class="text-6xl font-bold line-clamp-3 text-balance pb-2 text-right text-darkgray">Filtra tus tareas</h2>
    <p class="text-3xl text-mediumgray">Puedes elegir entre ver tus tareas del dia y las proximas</p>
    <p class="text-3xl text-mediumgray">Tambien puedes ver tus tareas activas y archivadas</p>
  </div>
  <div class="grid justify-center">
    <img src="../assets/images/home02.jpg" alt="home image 02" class="max-w-4xl mb-24 ml-20">
    <div class="flex flex-col">
      <h2 class="text-6xl font-bold line-clamp-3 text-balance pb-8 text-right text-darkgray">Organiza tus actividades
        rapido y facil
      </h2>
      <p class="text-3xl text-mediumgray">Usa los tags para organizar mejor tus tareas y clasificarlas</p>
    </div>
    <div class="table">
    </div>
  </div>
</div>

<shared-footer></shared-footer>
