<shared-navbar></shared-navbar>
<div class="grid gap-10 py-20 justify-center">
  <div class="border w-2/4 justify-self-center">
    <h2 class="text-5xl font-bold line-clamp-3 text-balance pb-2">toDoIt es la forma mas sencilla de organizar
      tus tareas
    </h2>
    <p>Crea, Guarda y ya esta! Bienvenido a esta util pagina para organizar tus tareas</p>
  </div>
  <div class="flex flex-row border justify-end">
    <img src="" alt="">
    <div class="text-right">
      <h2 class="text-5xl font-bold line-clamp-3 text-balance pb-2 text-right">Filtra tus tareas</h2>
      <p>Puedes elegir entre ver tus tareas del dia y las proximas</p>
      <p>Tambien puedes ver tus tareas activas y archivadas</p>
    </div>
  </div>
  <div class="grid justify-center border">
    <div class="flex flex-row">
      <h2 class="text-5xl font-bold line-clamp-3 text-balance pb-2 text-right">Organiza tus actividades rapido y facil</h2>
      <img src="" alt="">
    </div>
    <div class="table">
      Usa los tags para organizar mejor tus tareas y clasificarlas
    </div>
  </div>
</div>
