<div class="flex flex-row bg-mediumgray justify-between px-12 h-24 place-items-center sticky top-0">
  <div class="left-title flex flex-row gap-10 place-items-center text-softwhite hover:cursor-pointer"
    [routerLink]="'/home'">
    <span><img src="../assets/images/shared/main-notes.svg" alt="My notes image" class="w-16"></span>
    <h1 class="text-4xl title">Let's <span class="text-base font-normal">to</span>Do It</h1>
  </div>
  <div>
    <p>Welcome ...</p>
    <button (click)="logOut()">LogOut</button>
  </div>
</div>
