<div class="fixed inset-0 z-50 flex justify-center items-center bg-darkgray bg-opacity-70">
  <router-outlet></router-outlet>
  <div class="bg-softgray w-1/5 h-2/3 rounded-2xl">
    <img class="rounded-t-xl bg-blend-lighten" src="../assets/images/user/autumleaves.jpg" alt="leaves">
    <!-- <div class="absolute top-0 left-0 w-full h-full bg-mediumgray opacity-50"></div> -->
    Photo by <a href="/photographer/winjohn-50474">winjohn</a> on <a href="/">Freeimages.com</a>
  </div>
  <form action="" method="post">
    <div>
      <label for=""></label>
      <input type="text" name="" id="">
    </div>
  </form>
</div>
