<div class="flex flex-row bg-mediumgray justify-between px-12 h-24 place-items-center">
  <div class="left-title flex flex-row gap-10 place-items-center text-softwhite">
    <span><img src="../assets/images/icons/main-notes.svg" alt="My notes image" class="w-16"></span>
    <h1 class="text-4xl title">Let's <span class="text-base font-normal">to</span>Do</h1>
  </div>
  <div class="signop flex flex-row gap-6 text-xl">
    <button class="border bg-softgray hover:bg-darkgray hover:text-softwhite hover:scale-110 text-darkgray rounded-3xl px-5 font-semibold shadow-md shadow-darkgray py-1">Sign In</button>
    <button class="border bg-softgray hover:bg-darkgray hover:text-softwhite hover:scale-110 text-darkgray rounded-3xl px-5 font-semibold shadow-md shadow-darkgray py-1">Sign Up</button>
  </div>
</div>
