<div class="bg-softgray grid justify-center">
  <div class="gap-16 columns-4 border bg-softgray mt-24 mb-12 max-w-6xl">
    <div class="border leading-loose text-xl text-darkgray">
      <p>ToDo It es un sitio hecho para poner en practica mis conocimientos de FullStack</p>
      <p>Angular para el FrontEnd</p>
      <p>NestJs para el BackEnd</p>
      <p>Postgres como Base de datos</p>
    </div>
    <div>
      Este seria la segunda columna
    </div>
    <div>Esta seria la tercer columna</div>
    <div>Esta seria la cuarta columna</div>
  </div>
</div>

