<div class="grid place-content-center w-full h-full">
  <div class="rounded-3xl w-[25rem] h-[42rem] bg-darkgray flex flex-col place-items-center gap-y-5">
    <img src="../assets/images/todos/myprofile.svg" alt="profile image" class="w-[10rem] pt-14">
    <p class="text-softwhite">{{ userInfo.fullName }}</p>
    <div class="rounded-b-3xl bg-softgray w-full h-full grid justify-center gap-y-6 pt-4">
      <p>Total todos</p>
      <p>Active todos</p>
      <p>archived</p>
      <p>Upcoming</p>
      <p>email</p>
    </div>
  </div>
</div>
