<div class="bg-softgray h-[42rem] w-[22rem] rounded-3xl">
  <div class="mb-12">
    <img class="rounded-t-3xl bg-blend-lighten" src="../assets/images/user/autumleaves.jpg" alt="leaves">
    <p class="text-xs text-right pr-2">
      Photo by <a href="/photographer/winjohn-50474">winjohn</a> on <a href="/">Freeimages.com</a>
    </p>
  </div>
  <div class="flex flex-row justify-center">
    <form [formGroup]="userSignupForm" (ngSubmit)="onSubmit()">
      <input type="text" class="fields-user" id="fullName" formControlName="fullName" placeholder="full Name">
      <br>
      <input type="text" class="fields-user" id="email" formControlName="email" placeholder="email">
      <br>
      <input type="text" class="fields-user" id="password" formControlName="password" placeholder="password">
      <br>
      <button type="submit" class="h-7 bg-darkgray text-softwhite text-md px-2 w-full rounded-lg mt-4 hover:scale-105"
        [disabled]="userSignupForm.invalid">
        Sign Up
      </button>
      <br>
      <button class="h-7 bg-mediumgray text-softwhite text-md px-2 w-full rounded-lg mt-4 hover:scale-105" [routerLink]="'/home'">
        Maybe later
      </button>
    </form>
  </div>
  <p class="mt-2 self-center text-sm text-center">Already have an account? <a [routerLink]="[ '/user', 'login' ]">Login</a></p>
</div>
