<div class="bg-softgray h-[36rem] w-[18rem] rounded-3xl">
  <div class="mb-10">
    <img class="rounded-t-xl bg-blend-lighten h-[16rem]" src="../assets/images/user/autumleaves.jpg" alt="leaves">
    <div class="absolute top-0 left-0 w-full h-full bg-mediumgray opacity-40"></div>
    <p class="text-xs">
      Photo by <a href="/photographer/winjohn-50474">winjohn</a> on <a href="/">Freeimages.com</a>
    </p>
  </div>
  <div class="flex flex-row justify-center">
    <form action="" method="post">
      <input type="text" name="fullName" formControlName="fullName" placeholder="full Name">
      <input type="text" name="email" formControlName="email" placeholder="email">
      <input type="text" name="password" formControlName="password" placeholder="password">
    </form>
  </div>
</div>
