<div class="m-10 pt-8">
  <h3 class="font-bold text-4xl text-darkgray">Upcoming...</h3>
  <p class="text-xl text-mediumgray pt-2">Date</p>
  <div class="mt-10 gap-2">
    <div class="bg-softwhite flex flex-row justify-between px-4 py-2 rounded-md">
      <div class="left-text">
        <h4 class="font-bold text-2xl text-darkgray mb-1">Todo title</h4>
        <p class="text-xl text-mediumgray">Todo description for this template</p>
      </div>
      <div class="flex gap-3 place-items-center">
        <button class="rounded-full border p-2"><img src="../assets/images/todos/options/open.svg" alt=""
            class="w-7"></button>
        <button class="rounded-full border p-2"><img src="../assets/images/todos/options/edit.svg" alt=""
            class="w-7"></button>
        <button class="rounded-full border p-2"><img src="../assets/images/todos/options/archive.svg" alt=""
            class="w-7"></button>
        <button class="rounded-full border p-2"><img src="../assets/images/todos/options/delete.svg" alt=""
            class="w-7"></button>
      </div>
    </div>
  </div>
</div>

<div>
  <button>Wow</button>
</div>

<template *ngFor="let todo of todos; let i = index">
  <p>{{ todo.title }}</p>
</template>
