<div class="m-10 pt-8">
  <h3 class="font-bold text-4xl text-darkgray">Title</h3>
  <p class="text-xl text-mediumgray pt-2">Date</p>
  <div class="mt-10 gap-2">
    <div class="bg-softwhite flex flex-row justify-between px-4 py-1 rounded-md">
      <div class="left-text">
        <h4 class="font-bold text-2xl text-darkgray">Todo title</h4>
        <p class="text-xl text-mediumgray">Todo description for this template</p>
      </div>
      <div>
        <button>Icon open</button>
        <button>Icon edit</button>
        <button>Icon archive</button>
        <button>Icon deleteks</button>
      </div>
    </div>
  </div>
</div>

<div>
  <button></button>
</div>
